
@font-face {
    font-family: SuecaMedium;
    src: url('../fonts/sueca-medium.ttf');
}

@font-face {
    font-family: SuecaSemiBold;
    src: url('../fonts/sueca-bold.ttf');
}

@font-face {
    font-family: PrumoBold;
    src: url('../fonts/PrumoSlab-Bold.otf');
}

@font-face {
    font-family: PrumoMedium;
    src: url('../fonts/PrumoSlab-Medium.otf');
}