// COLORS
$color-primary: #00298f;
$color-primary-dark: #000066;

$color-secondary: #00ffff;
$color-secondary-light: #c4ffff;

$color-grey-light-1: #666666;
$color-grey-light-2: #4d4d4d;

$color-grey-dark: #262626;

$color-white: #fff;
$color-black: #000;


// FONT sizes
$s-size: 1.2rem;
$m-size: 1.6rem; //default 16px font size
$l-size: 3.2rem;
$xl-size: 4.8rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;